.root {
    default-background: rgb(0, 0, 0);
}



.root * {
    -fx-background-color: default-background;
    -fx-font-family: "Consolas"
}

.button:hover {
    -fx-border-color: #989898;
    -fx-text-fill: #989898;
}

.label {
    -fx-text-fill: white;
}