@import url("colors.css");

.text-input {
    -fx-control-inner-background: black;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-prompt-text-fill: #989898;
}

.button {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.label {
    -fx-text-fill: white;
}

.radio-button .radio {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-padding: 0px;
}

.radio-button:selected .radio .dot {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

